node_modules
artifacts
cache
.*.swp
venv
.idea
*.log

examples/mnist/trainning/data/MNIST/raw

mlgo
mlgo.bin

onnx-mlgo-transpiler/utils.go
onnx-mlgo-transpiler/test.go
onnx-mlgo-transpiler/__pycache__

examples/llama/llama

ml_mips/ml_mips
ml_mips/ml_mips.bin

examples/llama/data
examples/llama/models